.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  max-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmax);
  color: white;
}

nav a {
  color: rgb(158, 196, 218);
}

nav span {
  margin-left: 2vmax;
  margin-right: 2vmax;
}

.headerTitle {
  font-size: 3vmax;
}
